body {
  margin: 0px;
}

#mainCanvas {
  /*position: absolute;*/
  height: 200px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 20%;
  text-align: right;
}

/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

body {
  max-width: 900px;
  padding: 30px;
  margin: 0 auto;
  font: 14px/19px "Lucida Grande", sans-serif;
}

#main {
  margin: 80px 0;
  padding-left: 542px;
  height: 512px;
  position: relative;
}

#error {
  position: absolute;
  left: 0;
  top: 0;
  width: 412px;
  height: 412px;
  padding: 50px;
  text-align: center;
  background: #dfdfdf;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

p,
ul {
  margin: 0 0 30px 0;
}

h1 {
  font: bold italic 50px Georgia;
  margin: 0 0 60px 0;
  text-align: center;
}

a {
  color: inherit;
}

#footer {
  text-align: center;
  margin: 100px 0 0 0;
}

#glossiness-factor {
  display: none;
  font-size: 12px;
}

#glossiness-factor input {
  width: 40px;
  text-align: center;
}
