.ButtonClass {
  border: none;
  cursor: pointer;
  border-radius: 0.4em;
  background-color: lightgray;
  user-select: none;
  -webkit-user-select: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  /* for some reason buttons don't respond to our global font size, so manually set them */
  font-size: 1em;
}

.ButtonClass:hover:enabled {
  background-color: rgb(231, 231, 231);
}
