.ListBoxClass {
  background-color: white;
  overflow-y: scroll;
  cursor: pointer;
}

.ListBoxItemClass:hover {
  background-color: powderblue;
}

.ListBoxItemSelectedClass,
.ListBoxItemSelectedClass:hover {
  background-color: steelblue;
  color: white;
}

@media only screen and (max-device-width: 800px) {
}
