.ListBox {
  background-color: white;
  overflow-y: scroll;
  cursor: pointer;
}

.ListBoxItem:hover {
  background-color: powderblue;
}

.ListBoxItemSelected,
.ListBoxItemSelected:hover {
  background-color: steelblue;
  color: white;
}

@media only screen and (max-device-width: 800px) {
}
