.PlanesApp #MainCanvas {
  background-color: rgb(128, 128, 150);
}

.PlanesApp #Overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: transparent;
  user-select: none;
  pointer-events: none;
}

.PlanesApp #CtrlsContainer {
  margin-top: 5px;
}

.PlanesApp #LightLightRange::-webkit-slider-thumb {
  background: linear-gradient(135deg, lightgray, darkgray);
}
.PlanesApp #LightLightSliderRange::-moz-range-thumb {
  background: linear-gradient(135deg, lightgray, darkgray);
}

.PlanesApp #MidLightRange::-webkit-slider-thumb {
  background: linear-gradient(135deg, lightgray, darkgray);
}
.PlanesApp #MidLightSliderRange::-moz-range-thumb {
  background: linear-gradient(135deg, lightgray, darkgray);
}

.PlanesApp #DarkLightRange::-webkit-slider-thumb {
  background: linear-gradient(135deg, lightgray, darkgray);
}
.PlanesApp #DarkLightSliderRange::-moz-range-thumb {
  background: linear-gradient(135deg, lightgray, darkgray);
}

.PlanesApp .SliderRange {
  width: 35%;
}

.PlanesApp .SliderLabel {
  width: 18%;
}

.PlanesApp #ThresholdCanvas {
  position: absolute;
  right: 0px;
  width: 150px;
  height: 150px;
  background-color: rgb(128, 128, 150);
}

@media only screen and (max-device-width: 800px) {
  .PlanesApp .SliderRange {
    width: 28%;
  }

  .PlanesApp .SliderLabel {
    width: 22%;
  }

  .PlanesApp #ThresholdCanvas {
    width: 300px;
    height: 300px;
    background-color: rgb(128, 128, 150);
  }
}
