/* Customize the label (the RadiobuttonLabel) */
.RadiobuttonLabel {
  display: block;
  position: relative;
  padding-left: 1.4em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default Radiobutton */
.RadiobuttonLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom Radiobutton */
.RadioCheckmark {
  position: absolute;
  top: 0.15em;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #f5f5f5;
  border-radius: 50%;
}

/* When the Radiobutton is checked, add a blue background */
.RadiobuttonLabel input:checked ~ .RadioCheckmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.RadioCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.RadiobuttonLabel input:checked ~ .RadioCheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.RadiobuttonLabel .RadioCheckmark:after {
  background: white;
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}
