/* Customize the label (the RadiobuttonLabel) */
.RadiobuttonLabel {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default Radiobutton */
.RadiobuttonLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom Radiobutton */
.RadioCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18.5px;
  width: 18px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

/* When the Radiobutton is checked, add a blue background */
.RadiobuttonLabel input:checked ~ .RadioCheckmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.RadioCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.RadiobuttonLabel input:checked ~ .RadioCheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.RadiobuttonLabel .RadioCheckmark:after {
  background: white;
  top: 5px;
  left: 4.5px;
  width: 9px;
  height: 8.5px;
  border-radius: 50%;
}

@media only screen and (max-device-width: 800px) {
  .RadiobuttonLabel {
    padding-left: 50px;
  }

  /* Create a custom Radiobutton */
  .RadioCheckmark {
    top: 4px;
    height: 37px;
    width: 36px;
  }

  /* Style the checkmark/indicator */
  .RadiobuttonLabel .RadioCheckmark:after {
    top: 10px;
    left: 9px;
    width: 18px;
    height: 17px;
  }
}
