.SliderDiv {
  display: flex;
  align-items: stretch;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.SliderLabel {
  flex: 0 0 8em;
  text-align: right;
}

.SliderRange {
  flex: 1 1 13em;
  -webkit-appearance: none;
  outline: none;
  border-radius: 1em;
  height: 0.8em;
  margin-top: 0.2em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border: gray;
  border-style: solid;
  border-width: 0.075em;
  vertical-align: bottom;
}

.SliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  border-width: 0.1em;
  border-style: solid;
  border-color: darkgreen;
  background: lightgreen;
}

.SliderRange::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  border-width: 0.1em;
  border-style: solid;
  border-color: darkgreen;
  background: lightgreen;
  cursor: pointer;
}

.SliderColorSpan {
  vertical-align: text-bottom;
  flex: 0 0 1em;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  margin-top: 0.1em;
  border-radius: 50%;
  border: gray;
  border-style: solid;
  border-width: 1px;
}

.SliderValueSpan {
  flex: 0 0 3em;
  display: flex;
  align-items: center;
}

#Slider .disabled {
  color: gray;
}

#Slider .disabled::-webkit-slider-thumb {
  background: lightgray;
  border-color: gray;
}

#Slider .disabled::-moz-range-thumb {
  background: lightgray;
  border-color: gray;
}
