#SquintApp #Panel {
  flex: 0 0 400px;
  display: block;
  background-color: lightgray;
}

#SquintApp #Canvas {
  flex-grow: 1;
}

#SquintApp #VideoDiv {
  background-color: darkgray;
  padding: 10px;
}

#SquintApp .CheckboxDiv {
  padding-bottom: 10px;
}

#SquintApp .RadiobuttonDiv {
  padding-bottom: 10px;
}
