#SquintApp #Panel {
  flex: 0 0 300px;
  display: block;
  background-color: white;
}

#SquintApp #Canvas {
  flex-grow: 1;
}

#SquintApp .Picture {
  background-color: lightblue;
  padding: 10px;
}

#SquintApp .Camera {
  background-color: lightpink;
  padding: 10px;
}

#SquintApp .SliderLabel .disabled {
  color: gray;
}

#SquintApp #Slider .disabled::-webkit-slider-thumb {
  background: linear-gradient(135deg, lightgray, lightgray);
}

#SquintApp .CheckboxDiv {
  padding-top: 5px;
  padding-bottom: 5px;
}

#SquintApp .RadiobuttonDiv {
  padding-top: 5px;
  padding-bottom: 5px;
}

#SquintApp .SliderLabel {
  flex: 0 0 80px;
}

#SquintApp .SliderRange {
  flex: 1 1 80px;
}

#SquintApp .DialogBackground {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0, 0.4);
  display: none;
}

#SquintApp #DialogDiv {
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 20px;
}

#SquintApp #DialogTitleDiv {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

#SquintApp #TitleDiv {
  font-weight: bold;
}

#SquintApp #DialogBodyDiv {
  display: flex;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1 1;
  position: relative;
}

#SquintApp .ButtonDiv {
  text-align: right;
}

#SquintApp #ViewPanelDiv {
  flex: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 10px;
}

#SquintApp #ViewButton {
  flex: 0 1 20px;
  margin-top: 10px;
}

#SquintApp #ViewListBox {
  margin-top: 10px;
  flex: 1 1 auto;
}

#SquintApp #OrParentDiv {
  align-items: center;
  justify-content: center;
  display: flex;
}

#SquintApp #OrDiv {
  padding: 10px;
}

#SquintApp #HostPanelDiv {
  flex: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  border-radius: 10px;
}

#SquintApp #SessionNameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#SquintApp #NameInputText {
  flex: 1 1 auto;
  width: 0;
}

#SquintApp .Stretch {
  flex: 1 0 auto;
}

#SquintApp .NoStretch {
  flex: 0 0 auto;
}

#Console {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: darkblue;
  color: white;
  font-size: "12px";
  display: none;
}

#SquintApp #Video {
  display: "none";
  position: absolute;
  left: 10px;
  top: 50px;
  width: 20%;
  border: solid 1px;
  border-color: white;
}

#SquintApp #ConnectingText {
  color: white;
  flex: 1 1 auto;
  text-align: right;
  padding-right: 5px;
}

#SquintApp #ConnectingAnimation {
  zoom: 0.2;
}

/* cool animation from https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (orientation: landscape) {
  #SquintApp #DialogBodyDiv {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  #SquintApp #DialogBodyDiv {
    flex-direction: column;
  }
}

@media only screen and (max-device-width: 800px) {
  #SquintApp #Video {
    top: 100px;
    width: 30%;
  }

  #SquintApp #HostPanelDiv,
  #SquintApp #ViewPanelDiv {
    padding: 20px;
    margin: 20px;
  }

  #SquintApp .SliderLabel {
    flex: 0 0 120px;
  }

  #SquintApp * {
    font-size: 25pt;
  }
}
