* {
  font-family: Verdana;
}

/*
 * Our strategy for handling multiple devices is to set the font size and 
 * then scale everything else based on em's
 */

/* laptops and computers */
* {
  font-size: 13px;
}

/* phones and ipads in landscape */
@media (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  (min-resolution: 192dpi) and (orientation: landscape) {
  * {
    font-size: 16px;
  }
}

/* phones and ipads in portrait */
@media (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
  (min-resolution: 192dpi) and (orientation: portrait) {
  * {
    font-size: 32px;
  }
}

:root {
  --main-color: 114, 117, 134;
}

body {
  margin: 0px;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.Container {
  position: relative;
}

.FlexContainer {
  display: flex;
}

#MainCanvas {
  background-color: rgb(114, 117, 134);
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: transparent;
  user-select: none;
  pointer-events: none;
}

/* hide panels by default - users show them via menus */
.Panel {
  display: none;
}

.Panel #ExitButton {
  position: absolute;
  display: inline-block;
  width: 20px;
  right: 0;
  top: 0;
  cursor: pointer;
  color: lightgray;
  z-index: 1;
}

.ViewerApp #ExitButton:hover {
  color: red;
}

#Console {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: darkblue;
  color: white;
  font-size: "12px";
  display: none;
}

@import "Menu.css";
@import "Slider.css";
@import "Tabs.css";
@import "Checkbox.css";
@import "Radiobutton.css";
@import "ListBox.css";
@import "Button.css";

@media only screen and (max-device-width: 800px) {
  .Panel #ExitButton {
    width: 40px;
  }

  .OverlayAnnotation {
    font-size: 20pt;
  }
}

@import "PathTracerApp.css";
@import "ViewerApp.css";
@import "SquintApp.css";
