* {
  font-family: Verdana;
}

:root {
  --main-color: 114, 117, 134;
}

body {
  margin: 0px;
  overflow: hidden;
}

.Container {
  position: relative;
}

@import "Menu.css";
@import "Slider.css";
@import "Tabs.css";
@import "Checkbox.css";
@import "Radiobutton.css";

@media only screen and (max-device-width: 800px) {
  * {
    font-size: 40px;
  }
}

@import "PathTracerApp.css";
@import "ValuePlanesApp.css";
@import "ViewerApp.css";
